/* Patrones Globales */

/* Eliminar margen por defecto del BODY */
body { margin: 0; overflow-x: hidden; }

/* Tipografía Única: Quicksand */
h1, h2, h3, h4, h5, h6, p, a, span, form, input, select, textarea, option, button, div { font-family: 'Quicksand', sans-serif; }

/* Propiedad display: block; a todas las cajas de estructura para que se comporten como cajas */
header, main, section, footer, aside, article, figure, figcaption, nav, div { display: block; }

/* Quitar margen que traen por defecto los títulos, subtítulos y párrafos */
h1, h2, h3, h4, h5, h6, p, figure { margin: 0; }



/* Estilo Propio */

/* Componente Menú Responsive */



/* Componente Header con Logo y Menú */


body { background: white; height: 100%; }

aside#boton-wp { width: 45px; height: 45px; margin: 0; float: none; position: fixed; right: 15px; bottom: 15px; z-index: 99991; }
aside#boton-wp a { width: 100%; height: auto; margin: 0; float: none; position: relative; display: block; background: #BD8AEA; border-radius: 50%; text-align: center; padding: 10px 0; transition: all 0.3s ease-in; }
aside#boton-wp a i { font-size: 1.5em; line-height: 1em; color: #fff; transition: all 0.3s ease-in; }
aside#boton-wp a:hover { background: #f4a6e3; transition: all 0.3s ease-in; }
aside#boton-wp a:hover i { color: rgb(214, 213, 213); transition: all 0.3s ease-in; }

aside#menu-moviles { width: 290px; height: 100%; display: block; margin: 0; float: none; position: fixed; right: -290px; top: 0; z-index: 99999; background:#ecebec; }
aside#menu-moviles a#abrir-menu { height: auto; margin: 0; float: none; position: absolute; top: 15px; left: -50px; display: block; text-decoration: none; color: #d8c556; font-weight: 600; font-size: 2em; line-height: 1em; transition: all 0.3s ease-in; }
aside#menu-moviles a#abrir-menu:hover { color: #3D2C4E; transition: all 0.3s ease-in }

aside#menu-moviles a#cerrar-menu { height: auto; margin: 0; float: none; position: absolute; top: 15px; left: -35px; display: none; text-decoration: none; color: #f2dc37; font-weight: 600; font-size: 2em; line-height: 1em; transition: all 0.3s ease-in; }
aside#menu-moviles a#cerrar-menu:hover { color: #3D2C4E; transition: all 0.3s ease-in; }

aside#menu-moviles nav { width: 50%; height: auto; margin: 15% 10%; float: none; position: relative; }
aside#menu-moviles nav a { width: 100%; height: auto; display: block; margin: 0 auto; float: none; position: relative; color: #000000; font-weight: 600; font-size: 1em; padding: 10px 0; text-decoration: none; transition: all 0.3s ease-in; }
aside#menu-moviles nav a:hover { color: #BD8AEA; transition: all 0.3s ease-in; }

header { width: 100%; height: 60px; margin: 0; float: none; position: fixed; left: 0; top: 0; z-index: 99990; overflow: hidden; background: #dca2d0d1; }
header article { width: 100%; }
header article figure { margin: 0 auto; width: 100px;}
header article figure a img { width: 60px; }

/* Caja Main */
main { width: 100%; height: auto; margin: 0 auto; float: none; position: relative; }

/* index */
main section#zona-slider { width: 100%; height: 100vh; margin: 0 auto 50px auto; float: none; position: relative; }
main section#zona-slider article.slick-slider { width: 100%; height: 100vh; margin: 0 auto 20px auto; float: none; position: relative; }
main section#zona-slider article.slick-slider figure h3 { text-align: center; font-size: 5em; font-family: 'Overpass', sans-serif; margin: 290px 0 25px 0; color: #E7E6C5; -webkit-text-stroke: 1px black;}
main section#zona-slider article.slick-slider figure a { margin-left: 45%; text-decoration: none; font-size: 2em; font-family: 'Nanum Myeongjo', serif; font-weight: 700; color: #E7E6C5; background: #BD8AEA; padding: 10px 20px; border-radius: 8px; }
main section#zona-slider article.slick-slider figure a:hover { background: #3A3A3A  ; transition: all 0.3s ease-in; } 
main section#zona-slider article.slick-slider figure#slide-01 { width: 100%; height: 100vh; margin: 0; float: left; position: relative; background: url('https://images.unsplash.com/photo-1580202006717-b05e7c4620ee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=832&q=80') no-repeat top center; background-size: cover; }
main section#zona-slider article.slick-slider figure#slide-02 { width: 100%; height: 100vh; margin: 0; float: left; position: relative; background: url('https://images.unsplash.com/photo-1565084888279-aca607ecce0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') no-repeat; background-size: cover; background-position: bottom -100px right 0px; }

.slick-prev { left: 25px !important; z-index: 9 !important;  }
.slick-next { right: 25px !important; z-index: 10 !important; }

main section#categorias { width: 100%; position: relative; overflow: hidden; margin-bottom: 20px;}
main section#categorias article { width: 90%; margin: 0 auto; position: relative; overflow: hidden; padding: 0 250px;}
main section#categorias article a { text-decoration: none; display: flex; align-items: center; width: 32%; height: 300px; margin-right: 2%; float: left; }
main section#categorias article a:last-child { margin: 0;}
main section#categorias article a.caja1 { background: url('https://images.unsplash.com/photo-1565084888279-aca607ecce0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') no-repeat center; background-size: cover; }
main section#categorias article a.caja2 { background: url('https://images.unsplash.com/photo-1580202006717-b05e7c4620ee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=832&q=80') no-repeat center; background-size: cover; }
main section#categorias article a h3 { margin:0 auto; font-size: 2em; font-family: 'Overpass', sans-serif; color: #E7E6C5; -webkit-text-stroke: 1px black; z-index: 2;}
main section#categorias article a div.capa-oscura1 { width: 22.6%; height: 100%; display: block; margin: 0 auto; float: none; position: absolute; top: 0; left: 250px; z-index: 1; background: rgb(0 0 0 / 35%); transition: all 0.3s ease-in;}
main section#categorias article a div.capa-oscura2 { width: 22.6%; height: 100%; display: block; margin: 0 auto 0 34%; float: none; position: absolute; top: 0; left: 80px; z-index: 1; background: rgb(0 0 0 / 35%); transition: all 0.3s ease-in;}
main section#categorias article a:hover div.capa-oscura1,main section#categorias article a:hover div.capa-oscura2,main section#categorias article a:hover div.capa-oscura3 { background: rgb(0 0 0 / 75%); transition: all 0.3s ease-in; }

main section#productos { width: 100%; margin: 130px 0 20px 0;}
main section#productos article { width: 70%; margin: 0 auto 70px auto; }
main section#productos article h3 { font-size: 2em; font-family: 'Overpass', sans-serif; margin-bottom: 5px;}
main section#productos article a { text-decoration: none; display: flex; width: 48%; margin-right: 4%; height: 250px; float: left; }
main section#productos article a:last-child { float:none; margin: 0;}
main section#productos article a span { width: 100%; background: rgb(0 0 0 / 35%); }
main section#productos article a:hover span { background: rgb(0 0 0 / 75%); transition: all 0.3s ease-in;}
main section#productos article a span h3 { font-size: 2em; font-family: 'Nanum Myeongjo', serif; font-weight: 900; color: #E7E6C5; margin: 180px 0 0 20px; position: relative; z-index: 2;}
main section#productos article a span p { font-size: 1.25em; font-family: 'Noto Serif', serif; font-weight: 900; color: #E7E6C5; margin: 0 0 0 20px; position: relative; z-index: 2;}
main section#productos article.Bolsos a.bolso1 { background: url('https://images.unsplash.com/photo-1565084888279-aca607ecce0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') no-repeat; background-size: cover; background-position: bottom -40px right 0px; }
main section#productos article.Bolsos a.bolso2 { background: url('https://images.unsplash.com/photo-1565084888279-aca607ecce0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') no-repeat; background-size: cover;}
main section#productos article.Vestidos a.vestido1 { background: url('https://i.pinimg.com/originals/e2/d2/9f/e2d29fb7648c8a3dac2f317b1210ae5a.jpg') no-repeat center; background-size: cover; }
main section#productos article.Vestidos a.vestido2 { background: url('https://i.pinimg.com/originals/e2/d2/9f/e2d29fb7648c8a3dac2f317b1210ae5a.jpg') no-repeat center; background-size: cover; }

/*Categorias*/
main hr { width: 80%; margin-bottom: 50px; }
main section#banner-superior { width: 100%; height: 200px; margin-top: 60px; background: url('https://images.unsplash.com/photo-1565084888279-aca607ecce0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') no-repeat; background-size: cover; }
main section#banner-superior article { width: 100%; height: 200px; display: flex; align-items: center; background: rgb(0 0 0 / 35%); }
main section#banner-superior article h1 { font-size: 5em; font-family: 'Overpass', sans-serif; color: #E7E6C5; -webkit-text-stroke: 1px black; margin: 0 auto; }

main section#categorias-prodt { width: 100%; position: relative; overflow: hidden; margin-bottom: 200px;}
main section#categorias-prodt article { width: 60%; margin: 0 auto; position: relative; overflow: hidden; }
main section#categorias-prodt article a { text-decoration: none; display: flex; align-items: center; width: 49%; height: 300px; margin-right: 2%; float: left; }
main section#categorias-prodt article a:last-child { margin: 0;}
main section#categorias-prodt article a.caja1 { background: url('https://images.unsplash.com/photo-1565084888279-aca607ecce0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') no-repeat center; background-size: cover; }
main section#categorias-prodt article a.caja2 { background: url('https://i.pinimg.com/736x/1f/b2/69/1fb269802b7a7c1b91399907ec630ac5.jpg') no-repeat center; background-size: cover; }
main section#categorias-prodt article a h3 { margin:0 auto; font-size: 2em; font-family: 'Overpass', sans-serif; color: #E7E6C5; -webkit-text-stroke: 1px black; z-index: 2;}
main section#categorias-prodt article a div.capa-oscura1 { width: 49%; height: 100%; display: block; margin: 0 auto; float: none; position: absolute; top: 0; left: 0; z-index: 1; background: rgb(0 0 0 / 35%); transition: all 0.3s ease-in;}
main section#categorias-prodt article a div.capa-oscura2 { width: 49%; height: 100%; display: block; margin: 0 auto 0 51%; float: none; position: absolute; top: 0; left: 0; z-index: 1; background: rgb(0 0 0 / 35%); transition: all 0.3s ease-in;}
main section#categorias-prodt article a:hover div.capa-oscura1,main section#categorias-prodt article a:hover div.capa-oscura2 { background: rgb(0 0 0 / 75%); transition: all 0.3s ease-in; }

/*Productos*/
main section#ficha-producto { width: 100%; display: flex; margin-bottom: 50px; }
main section#ficha-producto article { width: 80%; margin: 0 auto; }
main section#ficha-producto article figure { width: 40%; height: 350px; margin-right: 35px; float: left; }
main section#ficha-producto article figure.bolso1 { background: url('../img/short02.JPG') no-repeat bottom center; background-size: cover; }
main section#ficha-producto article figure.bolso2 { background: url('../img/short04.JPG') no-repeat center; background-size: cover; }
main section#ficha-producto article figure.vestido1 { background: url('../img/falda02.JPG') no-repeat center; background-size: cover; }
main section#ficha-producto article figure.vestido2 { background: url('../img/falda03.JPG') no-repeat center; background-size: cover; }
main section#ficha-producto article div#info-producto { height: 100%; }
main section#ficha-producto article div#info-producto h2 { font-size: 2.5em; font-family: 'Overpass', sans-serif; padding-top: 60px; margin-bottom: 10px; letter-spacing: 0.035em; }
main section#ficha-producto article div#info-producto p { margin-bottom: 20px; font-size: 1.5em; font-family: 'Nanum Myeongjo', serif; text-align: justify; }
main section#ficha-producto article div#info-producto h5 { margin-bottom: 25px; font-size: 1.5em; font-family: 'Noto Serif', serif; }
main section#ficha-producto article div#info-producto a { text-decoration: none; font-size: 1.125em; font-family: 'Overpass', sans-serif; font-weight: 500; color: #E7E6C5; background: #BD8AEA; padding: 10px 20px; border-radius: 8px; }
main section#ficha-producto article div#info-producto a:hover { background: #3A3A3A; transition: all 0.3s ease-in; }

footer { width: 100%; height: 200px; text-align: center; background: url('https://eskipaper.com/images/purple-flower-wallpaper-tumblr-1.jpg') no-repeat center; background-size: cover; clear:both; }
footer article { width: 100%; height: 200px; background: rgb(0 0 0 / 45%); }
footer article div#superior-footer { padding-top: 70px; margin-bottom: 15px;}
footer article div#superior-footer div.cajas-footer h6 { color: #E7E6C5; font-size: 1.5em; font-family: 'Overpass', sans-serif; transition: all 0.3s ease-in; }
footer article div#superior-footer div.cajas-footer nav a { text-decoration: none; margin-right: 10px;}
footer article div#superior-footer div.cajas-footer nav a i { font-size: 1em; color: #E7E6C5; }
footer article div#superior-footer div.cajas-footer nav a i:hover { color: #BD8AEA; transition: all 0.3s ease-in  }
footer article div#inferior-footer p { color: #E7E6C5; font-size: 1em; font-family: 'Nanum Myeongjo', serif; font-weight: 900; }










/* Zona de Media Queries */
    
